html {
  height: 100%;
  width: 100%;
}

#grid {
  height: 600px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(var(--columns, 6), 1fr);
  grid-template-rows: repeat(var(--columns, 6), 1fr);
}

#grid .cell {
  border: 1px solid black;
}

.cell.alive {
  background-color: yellow;
}